.kep {margin-left: 20px}
.cimkepek {text-align: center }
img {
    width: 24% }
h1 {margin-top: 0px; background-color: green;}
.login-div {
background-color: rgb(197, 189, 189);
margin: 20px;
border: solid 1px crimson;
padding: 10px;
display: inline-block;
box-shadow: rgb(104, 93, 93) 2px 1px;
}
.login-div input
{display: block;
    margin-bottom : 7px;
}
.login-div input[type=email] {
    border:solid 2px darkblue;
}
.login-div input[name="Password"] {border: solid 2px red;}
.lista {position: fixed ;}

.login-div button:hover {box-shadow: 5px 5px 15px chartreuse }